* {
  margin: 0;
  padding: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

*:focus {
  outline: none;
  color: black;
  text-decoration: none;
}

input {
  background-color: transparent;
  border: none;
}

/*
width of element:
	12 cols - 100%
	11 cols - 091,666666666%
	10 cols - 083,333333333%
	09 cols - 075%
	08 cols - 066,666666666%
	07 cols - 058,333333333%
	06 cols - 050%
	05 cols - 041,666666666%
	04 cols - 033,333333333%
	03 cols - 025%
	02 cols - 016,666666666%
	01 cols - 008,333333333%
	00 cols - 000%
*/
/*Mixins*/
@font-face {
  font-family: "Cinzel";
  src: url(../Resources/Cinzel-Regular.ttf);
}

@font-face {
  font-family: "RalewayLight";
  src: url(../Resources/Raleway-Light_0.ttf);
}

@font-face {
  font-family: "RalewayELight";
  src: url(../Resources/Raleway-ExtraLight.ttf);
}

@font-face {
  font-family: "RalewayThin";
  src: url(../Resources/Raleway-Thin.ttf);
}

@font-face {
  font-family: "DetalThin";
  src: url(../Resources/Datalegreya-Thin.otf);
}

@font-face {
  font-family: "BraGroLight";
  src: url(../Resources/brandon-grotesque-light.woff);
}

body section {
  background-color: #1e364b;
  margin-top: 100vh;
}

@media (min-width: 160px) and (max-width: 640px) {
  body section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: portrait) {
  body section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  body section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 1008px) {
  body section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}

body section form {
  transition: 0.4s cubic-bezier(0, 0, 0.27, 0.97);
}

@media (min-width: 160px) and (max-width: 640px) {
  body section form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: portrait) {
  body section form {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  body section form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 1008px) {
  body section form {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

body section form .input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  transition: 0.4s cubic-bezier(0, 0, 0.27, 0.97);
  cursor: pointer;
  letter-spacing: 4px;
}

@media (min-width: 160px) and (max-width: 640px) {
  body section form .input {
    height: 30%;
    width: 80%;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: portrait) {
  body section form .input {
    height: 30%;
    width: 80%;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  body section form .input {
    height: 30%;
    width: 80%;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

@media (min-width: 1008px) {
  body section form .input {
    height: 20vh;
    width: 60%;
  }
}

body section form .input:hover {
  color: rgba(255, 195, 60, 0.75);
}

body section form .input label.expanded {
  margin-bottom: 20px;
}

body section form .input input.expanded {
  border: 1px solid rgba(255, 254, 219, 0.5);
  border-radius: 20px;
  cursor: initial;
  padding: 10px;
  color: rgba(255, 254, 219, 0.5);
  transition: 0.4s cubic-bezier(0, 0, 0.27, 0.97);
}

@media (min-width: 160px) and (max-width: 640px) {
  body section form .input input.expanded {
    height: 5px;
    width: calc(100% - 30px);
  }
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: portrait) {
  body section form .input input.expanded {
    height: 5px;
    width: calc(100% - 30px);
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  body section form .input input.expanded {
    height: 5px;
    width: calc(100% - 30px);
  }
}

@media (min-width: 1008px) {
  body section form .input input.expanded {
    height: auto;
    width: calc(100% - 20px);
  }
}

body section form .input input.expanded:focus {
  border: 1px solid rgba(255, 195, 60, 0.75);
  color: rgba(255, 195, 60, 0.75);
}

body section form span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.4s cubic-bezier(0, 0, 0.27, 0.97);
  border: 1px solid rgba(255, 254, 219, 0.5);
  color: rgba(255, 254, 219, 0.5);
  text-align: center;
  letter-spacing: 5px;
  background-color: rgba(255, 254, 219, 0);
  cursor: pointer;
  text-transform: uppercase;
}

@media (min-width: 160px) and (max-width: 640px) {
  body section form span {
    height: 40px;
    width: 110px;
    font-size: 0.6em;
  }
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: portrait) {
  body section form span {
    height: 40px;
    width: 120px;
    font-size: 0.6em;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  body section form span {
    height: 40px;
    width: 140px;
    font-size: 0.6em;
  }
}

@media (min-width: 1008px) {
  body section form span {
    height: auto;
    width: 90%;
  }
}

body section form span:hover {
  border: 1px solid rgba(255, 195, 60, 0.75);
  color: rgba(255, 195, 60, 0.75);
  letter-spacing: 8px;
}

body section form span:active {
  border: 1px solid rgba(30, 54, 65, 0.75);
  color: rgba(30, 54, 65, 0.75);
  background-color: rgba(255, 254, 219, 0.5);
}

body section article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(255, 254, 219, 0.75);
  color: rgba(30, 54, 65, 0.75);
}

@media (min-width: 160px) and (max-width: 640px) {
  body section article {
    height: 100%;
    width: 50%;
    box-shadow: inset 4px 1px 8px 0px rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: portrait) {
  body section article {
    height: 50%;
    width: 100%;
    box-shadow: inset 0px -2px 8px 0px rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  body section article {
    height: 100vh;
    width: 50vw;
    box-shadow: inset 4px 1px 8px 0px rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: 1008px) {
  body section article {
    height: 100vh;
    width: 50vw;
    box-shadow: inset 4px 1px 8px 0px rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: 160px) and (max-width: 640px) {
  body section article * {
    height: auto;
    width: 90%;
  }
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: portrait) {
  body section article * {
    height: auto;
    width: 90%;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  body section article * {
    height: auto;
    width: 80%;
  }
}

@media (min-width: 1008px) {
  body section article * {
    height: auto;
    width: 80%;
  }
}

body main {
  margin-top: 0;
  height: 0vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.4s cubic-bezier(0, 0, 0.27, 0.97);
}

body main.expanded {
  height: 100vh;
  width: 100%;
}
