@charset "UTF-8";
/* line 2, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/_noDefaultStyle.scss */
* {
  margin: 0;
  padding: 0;
  cursor: default;
}

/* line 7, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/_noDefaultStyle.scss */
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* line 12, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/_noDefaultStyle.scss */
ul, ol {
  list-style: none;
}

/* line 15, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/_noDefaultStyle.scss */
*:focus {
  outline: none;
  color: black;
  text-decoration: none;
}

/*
width of element:
	12 cols - 100%
	11 cols - 091,666666666%
	10 cols - 083,333333333%
	09 cols - 075%
	08 cols - 066,666666666%
	07 cols - 058,333333333%
	06 cols - 050%
	05 cols - 041,666666666%
	04 cols - 033,333333333%
	03 cols - 025%
	02 cols - 016,666666666%
	01 cols - 008,333333333%
	00 cols - 000%
*/
/*Mixins*/
@font-face {
  font-family: "Cinzel";
  src: url(../Resources/Cinzel-Regular.ttf);
}

@font-face {
  font-family: "RalewayLight";
  src: url(../Resources/Raleway-Light_0.ttf);
}

@font-face {
  font-family: "RalewayELight";
  src: url(../Resources/Raleway-ExtraLight.ttf);
}

@font-face {
  font-family: "RalewayThin";
  src: url(../Resources/Raleway-Thin.ttf);
}

@font-face {
  font-family: "DetalThin";
  src: url(../Resources/Datalegreya-Thin.otf);
}

@font-face {
  font-family: "BraGroLight";
  src: url(../Resources/brandon-grotesque-light.woff);
}

/* line 4, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
.titleHeader {
  text-decoration: none;
  font-size: 15px;
  font-family: "RalewayThin";
  color: rgba(255, 254, 219, 0.75);
  font-weight: 100;
}

/* line 11, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
.luxFX {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  letter-spacing: 1em;
  cursor: pointer;
  font-size: 0.5em;
  border-bottom: 1px solid rgba(255, 195, 60, 0.5);
  transition: 0.6s cubic-bezier(0, 0, 0.27, 0.97);
  text-transform: uppercase;
  color: rgba(255, 195, 60, 0.75);
  background: linear-gradient(0deg, #ffc33c, rgba(146, 111, 52, 0.8), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
  background-position: 50% 15%;
  background-size: 300% 300%;
  border-radius: 20px 20px 0px 0px;
  opacity: 0.8;
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 11, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  .luxFX {
    background-position: 50% 1%;
    border: 1px solid rgba(255, 195, 60, 0.5);
    height: 100%;
    width: 90%;
    border-radius: 0px 0px 0px 0px;
    max-height: 50px;
    min-height: 30px;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  /* line 11, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  .luxFX {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1008px) {
  /* line 11, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  .luxFX {
    height: 100%;
    width: 80%;
  }
}

/* line 39, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
.luxFX:active {
  opacity: 1;
  transition: 0.05s cubic-bezier(0, 0, 0.27, 0.97);
}

/* line 43, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
.luxFX:hover {
  background-position: 50% 99%;
  color: #fff;
  letter-spacing: 2em;
}

/* line 49, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* line 53, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body {
  scroll-behavior: smooth;
  color: rgba(255, 254, 219, 0.75);
  font-family: "RalewayLight";
  background-color: #1e3641;
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 53, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body {
    margin-top: 20px;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  /* line 53, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body {
    margin-top: 33px;
  }
}

@media (min-width: 1008px) {
  /* line 53, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body {
    margin-top: 50px;
  }
}

/* line 67, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body::-webkit-scrollbar {
  display: none;
}

/* line 70, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu.fixed {
  top: 0;
  position: fixed;
  background-color: #1e3641;
  opacity: 0.7;
  font-weight: 100;
  z-index: 90;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.7s cubic-bezier(0, 0, 0.27, 0.97);
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 70, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu.fixed {
    height: 20px;
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  /* line 70, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu.fixed {
    height: 33px;
    width: 100%;
  }
}

@media (min-width: 1008px) {
  /* line 70, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu.fixed {
    height: 50px;
    width: 100%;
  }
}

/* line 88, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu.fixed:hover {
  opacity: 1;
}

/* line 91, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu.fixed h1 {
  letter-spacing: 0.8em;
  font-family: "DetalThin";
  cursor: default;
}

/* line 92, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu.fixed h1 a {
  color: rgba(255, 195, 60, 0.75);
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 91, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu.fixed h1 {
    font-size: 16px;
    word-wrap: break-word;
    letter-spacing: 0.5em;
  }
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: portrait) {
  /* line 91, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu.fixed h1 {
    font-size: 13px;
    word-wrap: break-word;
    letter-spacing: 0.3em;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  /* line 91, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu.fixed h1 {
    font-size: 18px;
  }
}

@media (min-width: 1008px) {
  /* line 91, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu.fixed h1 {
    font-size: 25px;
  }
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 115, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu.fixed img {
    height: 14px;
    width: auto;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  /* line 115, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu.fixed img {
    height: 28px;
    width: auto;
  }
}

@media (min-width: 1008px) {
  /* line 115, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu.fixed img {
    height: 46px;
    width: auto;
  }
}

/* line 128, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu input {
  display: none;
}

/* line 131, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu #burger {
  z-index: 99;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 131, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu #burger {
    height: 20px;
    width: 20px;
  }
}

/* line 139, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu #burger span {
  transition: 0.3s cubic-bezier(0, 0, 0.27, 0.97);
  border: 1px solid rgba(255, 195, 60, 0.75);
  height: 0px;
  width: 15px;
  border-radius: 10px;
  position: absolute;
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 139, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu #burger span {
    height: 0px;
    width: 10px;
    border: 0.25px solid rgba(255, 195, 60, 0.75);
  }
}

/* line 150, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu #burger span:nth-child(1) {
  transform: translate(0px, 5px) rotateZ(0deg);
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 150, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu #burger span:nth-child(1) {
    transform: translate(0px, 3.5px) rotateZ(0deg);
  }
}

/* line 156, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu #burger span:nth-child(3) {
  transform: translate(0px, -5px) rotateZ(0deg);
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 156, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu #burger span:nth-child(3) {
    transform: translate(0px, -3.5px) rotateZ(0deg);
  }
}

/* line 163, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu #itemContainer {
  z-index: 91;
  top: 0;
  right: 0;
  position: fixed;
  opacity: 0;
  height: 0vh;
  width: 100vw;
  background-color: #1e3641;
  transition: 0.4s cubic-bezier(0, 0, 0.27, 0.97);
  transition-delay: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* line 174, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu #itemContainer #itemBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  display: none;
  height: 100vh;
  width: 20vw;
  transform: translateY(2vh);
  transition: 0.4s cubic-bezier(0, 0, 0.27, 0.97);
  opacity: 0;
}

/* line 181, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu #itemContainer #itemBox .menuOpt {
  transform: translateY(2vh);
  z-index: 95;
  transition-delay: 0s;
  transition: 0.4s cubic-bezier(0, 0, 0.27, 0.97);
  color: rgba(255, 254, 219, 0.5);
  letter-spacing: 0.5em;
  font-size: 20px;
  transition-delay: 0s;
  height: auto;
  width: auto;
  text-align: center;
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 181, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu #itemContainer #itemBox .menuOpt {
    font-size: 11px;
    letter-spacing: 0.2em;
  }
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: portrait) {
  /* line 181, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu #itemContainer #itemBox .menuOpt {
    font-size: 12px;
    letter-spacing: 0.3em;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  /* line 181, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu #itemContainer #itemBox .menuOpt {
    font-size: 14px;
  }
}

@media (min-width: 1008px) {
  /* line 181, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu #itemContainer #itemBox .menuOpt {
    font-size: 16px;
  }
}

/* line 206, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu #itemContainer #itemBox .menuOpt:hover {
  letter-spacing: 1em;
  color: #fffedb;
}

/* line 214, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu [id="openMenu"]:checked ~ #itemContainer {
  opacity: 1;
  height: 100vh;
  width: 100vw;
  transition-delay: 0s;
  transition: 0.4s cubic-bezier(0, 0, 0.27, 0.97);
}

/* line 219, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu [id="openMenu"]:checked ~ #itemContainer #itemBox {
  display: flex;
  transition-delay: 0.4s;
  transform: translateY(0%);
  opacity: 1;
}

/* line 227, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu [id="openMenu"]:checked ~ #burger span:nth-child(1) {
  transform: translate(0px, 0px) rotateZ(45deg);
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 227, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu [id="openMenu"]:checked ~ #burger span:nth-child(1) {
    transform: translate(0px, 0px) rotateZ(45deg);
  }
}

/* line 233, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu [id="openMenu"]:checked ~ #burger span:nth-child(2) {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 233, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu [id="openMenu"]:checked ~ #burger span:nth-child(2) {
    height: 15px;
    width: 15px;
  }
}

/* line 241, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body #menu [id="openMenu"]:checked ~ #burger span:nth-child(3) {
  transform: translate(0px, 0px) rotateZ(-45deg);
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 241, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body #menu [id="openMenu"]:checked ~ #burger span:nth-child(3) {
    transform: translate(0px, 0px) rotateZ(-45deg);
  }
}

/* line 250, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body header {
  z-index: -1;
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1e3641;
}

/* line 257, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body header h2, body header h3 {
  font-weight: 100;
  letter-spacing: calc(1vw);
  margin-bottom: 2em;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 257, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body header h2, body header h3 {
    font-size: 12px;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  /* line 257, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body header h2, body header h3 {
    font-size: 15px;
  }
}

@media (min-width: 1008px) {
  /* line 257, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body header h2, body header h3 {
    font-size: 20px;
  }
}

/* line 273, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body header svg {
  cursor: pointer;
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 273, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body header svg {
    height: 30px;
    width: 30px;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  /* line 273, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body header svg {
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 1008px) {
  /* line 273, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body header svg {
    height: 50px;
    width: 50px;
  }
}

@keyframes moving {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}

/* line 292, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body header svg g {
  stroke: rgba(255, 254, 219, 0.75);
  stroke-width: 2px;
  transition: 0.4s cubic-bezier(0, 0, 0.27, 0.97);
}

/* line 296, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body header svg g path {
  animation: moving 1s cubic-bezier(1, 0, 0.5, 1) infinite alternate;
}

/* line 300, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body header svg:hover g {
  stroke: #ffc33c;
}

/* line 305, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body main {
  margin-top: 100vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1e364b;
}

/* line 310, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body main ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1e364b;
}

/* line 314, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body main ul li {
  height: 100px;
  width: 50%;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 160px) and (max-width: 1007px) {
  /* line 314, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
  body main ul li {
    height: 80px;
    width: 80%;
    margin: 100px 0px;
  }
}

/* line 322, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body main ul li a {
  height: 100%;
  width: 100%;
  text-align: center;
}

/* line 329, C:/Users/Miguel Angel Medina/Documents/Programación/MarkMed.github.io/SCSS/style.scss */
body section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/*# sourceMappingURL=../CSS/style.map */