// base.scss
@import 'noDefaultStyle';
@import 'varsMixinExtends';
.titleHeader{
	text-decoration: none;
	font-size: 15px;
	font-family: "RalewayThin";
	color: $clearColor75;
	font-weight: 100;
}
.luxFX{
	@include flex(column, center, center, wrap);
	letter-spacing: 1em;
	cursor: pointer;
	font-size: 0.5em;
	border-bottom: 1px solid $thirdColor50;
	transition: 0.6s $animationFX;
	text-transform: uppercase;
	color: $thirdColor75;
	background: linear-gradient(0deg, $thirdColor100, rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
	background-position: 50% 15%;
	background-size: 300% 300%;
	border-radius: 20px 20px 0px 0px;
	opacity: 0.8;
	@media (min-width: 160px) and (max-width: $smallWidth){
		background-position: 50% 1%;
		border: 1px solid $thirdColor50;
		@include widthHeightsize(90%, 100%);
		border-radius: 0px 0px 0px 0px;
		max-height: 50px;
		min-height: 30px;
	}
	@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
		@include widthHeightsize(100%, 100%);
	}
	@media (min-width: $mediumWidth+1){
		@include widthHeightsize(80%, 100%);
	}
	&:active{
		opacity: 1;
		transition: 0.05s $animationFX;
	}
	&:hover{
		background-position: 50% 99%;
		color: #fff;
		letter-spacing: 2em;
	}
}
html{	
	scrollbar-width: none;
}
body{
	color: $clearColor75;
	font-family: "RalewayLight";
	background-color: $primaryColor100;
	@media (min-width: 160px) and (max-width: $smallWidth){
		margin-top: 20px;
	}
	@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
		margin-top: 33px;
	}
	@media (min-width: $mediumWidth+1){
		margin-top: 50px;
	}
	&::-webkit-scrollbar { 
		display: none; 
	}
	#menu{
		top: 0;
		position: fixed;
		background-color: $primaryColor100;
		opacity: 0.7;
		font-weight: 100;
		z-index: 90;
		@include flex(row, space-around, center, wrap);
		@media (min-width: 160px) and (max-width: $smallWidth){
			@include widthHeightsize(100%, 20px);
		}
		@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
			@include widthHeightsize(100%, 33px);
		}
		@media (min-width: $mediumWidth+1){
			@include widthHeightsize(100%, 50px);
		}
		transition: 0.7s $animationFX;
		&:hover{
			opacity: 1;
		}
		h1{
			a{
				color: $thirdColor75;
			}
			letter-spacing: 0.8em;
			font-family: "DetalThin";
			@media (min-width: 160px) and (max-width: $smallWidth){
				font-size: 16px;
				word-wrap: break-word;
				letter-spacing: 0.5em;
			}
			@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: portrait){
				font-size: 13px;
				word-wrap: break-word;
				letter-spacing: 0.3em;
			}
			@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
				font-size: 18px;
			}
			@media (min-width: $mediumWidth+1){
				font-size: 25px;
			}
			cursor: default;
		}
		img{
			@media (min-width: 160px) and (max-width: $smallWidth){
				@include widthHeightsize(auto, 14px);
			}
			@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
				@include widthHeightsize(auto, 28px);
			}
			@media (min-width: $mediumWidth+1){
				@include widthHeightsize(auto, 46px);
			}
		}
		input{
			display: none;
		}
		#burger{
			z-index: 99;
			@include widthHeightsize(20px, 20px);
			@include flex(column, space-around, center, wrap);
			cursor: pointer;
			@media (min-width: 160px) and (max-width: $smallWidth){
				@include widthHeightsize(20px, 20px);
			}
			span{
				transition: 0.3s $animationFX;
				border: 1px solid $thirdColor75;
				@include widthHeightsize(15px, 0px);
				border-radius: 10px;
				position: absolute;
				@media (min-width: 160px) and (max-width: $smallWidth){
					@include widthHeightsize(10px, 0px);
					border: 0.25px solid $thirdColor75;
				}
			}
			span:nth-child(1){
				transform: translate(0px, 5px)  rotateZ(0deg);
				@media (min-width: 160px) and (max-width: $smallWidth){
					transform: translate(0px, 3.5px)  rotateZ(0deg);
				}
			}
			span:nth-child(3){
				transform: translate(0px, -5px)  rotateZ(0deg);
				@media (min-width: 160px) and (max-width: $smallWidth){
					transform: translate(0px, -3.5px)  rotateZ(0deg);
				}
			}
		}
		#itemContainer{
			z-index: 91;
			top: 0;
			right: 0;
			position: fixed;
			opacity: 0;
			@include widthHeightsize(100vw, 0vh);
			background-color: $primaryColor100;
			transition: 0.4s $animationFX;
			transition-delay: 0.2s;
			@include flex(column, center, center, wrap);
			#itemBox{
				@include flex(column, space-around, center, wrap);
				display: none;
				@include widthHeightsize(20vw, 100vh);
				transform: translateY(2vh);
				transition: 0.4s $animationFX;
				opacity: 0;
				.menuOpt{
					transform: translateY(2vh);
					z-index: 95;
					transition-delay: 0s;
					transition: 0.4s $animationFX;
					color: $clearColor50;
					letter-spacing: 0.5em;
					font-size: 20px;
					transition-delay: 0s;
					@include widthHeightsize(auto, auto);
					text-align: center;
					@media (min-width: 160px) and (max-width: $smallWidth){
						font-size: 11px;
						letter-spacing: 0.2em;
					}
					@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: portrait){
						font-size: 12px;
						letter-spacing: 0.3em;
					}
					@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
						font-size: 14px;
					}
					@media (min-width: $mediumWidth+1){
						font-size: 16px;
					}
					&:hover{
						letter-spacing: 1em;
						color: $clearColor100;
					}
				}
			}
		}
		[id="openMenu"]:checked{
			& ~ #itemContainer{
				opacity: 1;
				@include widthHeightsize(100vw, 100vh);
				transition-delay: 0s;
				transition: 0.4s $animationFX;
				#itemBox{
					display: flex;
					transition-delay: 0.4s;
					transform: translateY(0%);
					opacity: 1;
				}
			}
			& ~ #burger{
				span:nth-child(1){
					transform: translate(0px, 0px)  rotateZ(45deg);
					@media (min-width: 160px) and (max-width: $smallWidth){
						transform: translate(0px, 0px)  rotateZ(45deg);
					}
				}
				span:nth-child(2){
					@include widthHeightsize(22px, 22px);
					border-radius: 50%;
					@media (min-width: 160px) and (max-width: $smallWidth){
						@include widthHeightsize(15px, 15px);
					}
					cursor: pointer;
				}
				span:nth-child(3){
					transform: translate(0px, 0px)  rotateZ(-45deg);
					@media (min-width: 160px) and (max-width: $smallWidth){
						transform: translate(0px, 0px)  rotateZ(-45deg);
					}
				}
			}
		}
	}
	header{
		@include widthHeightsize(100%, 100vh);
		@include flex(column, center, center, wrap);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		h2, h3{
			font-weight: 100;
			letter-spacing: calc(1vw);
			margin-bottom: 2em;
			text-transform: uppercase;
			text-align: center;
			@media (min-width: 160px) and (max-width: $smallWidth){
				font-size: 12px;
			}
			@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
				font-size: 15px;
			}
			@media (min-width: $mediumWidth+1){
				font-size: 20px;
			}
		}
		svg{
			cursor: pointer;
			@media (min-width: 160px) and (max-width: $smallWidth){
				@include widthHeightsize(30px, 30px);
			}
			@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
				@include widthHeightsize(40px, 40px);
			}
			@media (min-width: $mediumWidth+1){
				@include widthHeightsize(50px, 50px);
			}
			@keyframes moving{
				from{
					transform: translateY(0px);
				}
				to{
					transform: translateY(10px);
				}
			}
			g{
				stroke: $clearColor75;
				stroke-width: 2px;
				transition: 0.4s $animationFX;
				path{
					animation: moving 1s cubic-bezier(1, 0, 0.5, 1) infinite alternate;
				}
			}
			&:hover g{
				stroke: aqua;
			}
		}
	}
	main{
		position: absolute;
		@include widthHeightsize(100%, auto);
		@include flex(column, space-around, center, wrap);
		ul{
			@include widthHeightsize(100%, 100%);
			@include flex(column, space-around, center, wrap);
			background-color: $secondaryColor100;
			li{
				@include widthHeightsize(50%, 100px);
				margin: 100px;
				@media (min-width: 160px) and (max-width: $mediumWidth){
					@include widthHeightsize(80%, 80px);
					margin: 100px 0px;
				}
				@include flex(column, center, center, wrap);
				a{
					@include widthHeightsize(100%, 100%);
					text-align: center;
				}
			}
		}
	}
	section{
		@include widthHeightsize(100%, 100vh);
		@include flex(column, space-around, center, wrap);
	}
}