// base.scss
@import 'noDefaultStyle';
@import 'varsMixinExtends';
.titleHeader{
	text-decoration: none;
	font-size: 15px;
	font-family: "RalewayThin";
	color: $clearColor75;
	font-weight: 100;
}

.show{
	transform: translateY(0px);
	opacity: 1;
}
.hidden{
	transform: translateY(-20px);
	opacity: 0;
}
html{
	scroll-behavior: smooth;
	scrollbar-width: none;
}
body{
	
	.lineSeparator{		
		@include widthHeightsize(50vw, 2px);
		margin: 20px 25vw;
		border-bottom: 2px solid $clearColor25;
		transition: 0.3s $animationFX;
	}
	
	.sectionTitle{
		@include widthHeightsize($width-12, 60px);
		@include flex(column, space-around, center, wrap);
		transition: 0.5s $animationFX;
		h3{
			transition-delay: 1s;
			margin: 10px 0px 5px;
			color: $primaryColor50;
			font-size: 28px;
		}
		.lineSeparator{
			transition-delay: 0.4s;
			@include widthHeightsize(0%, 2px);
			margin: 0px 5px;
			border-bottom: 2px solid $primaryColor25;
		}
		&.show{
			@extend .show;
			.lineSeparator{
				@include widthHeightsize(50%, 2px);
			}
		}
		&.hidden{
			@extend .hidden;
		}
	}
	scroll-behavior: smooth;
	color: $clearColor75;
	font-family: "RalewayLight";
	background-color: $primaryColor100;
	@media (min-width: 160px) and (max-width: $smallWidth){
		margin-top: 20px;
	}
	@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
		margin-top: 33px;
	}
	@media (min-width: $mediumWidth+1){
		margin-top: 50px;
	}
	&::-webkit-scrollbar { 
		display: none; 
	}
	#MkM.topFixed{
		top: 0;
		position: fixed;
		background-color: $primaryColor100;
		opacity: 0.7;
		font-weight: 100;
		z-index: 90;
		@include flex(row, space-around, center, wrap);
		@media (min-width: 160px) and (max-width: $smallWidth){
			@include widthHeightsize(100%, 20px);
		}
		@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
			@include widthHeightsize(100%, 33px);
		}
		@media (min-width: $mediumWidth+1){
			@include widthHeightsize(100%, 50px);
		}
		transition: 0.7s $animationFX;
		&:hover{
			opacity: 1;
		}
		h1{
			a{
				color: $thirdColor75;
			}
			letter-spacing: 0.8em;
			font-family: "DetalThin";
			@media (min-width: 160px) and (max-width: $smallWidth){
				font-size: 16px;
				word-wrap: break-word;
				letter-spacing: 0.5em;
			}
			@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: portrait){
				font-size: 13px;
				word-wrap: break-word;
				letter-spacing: 0.3em;
			}
			@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
				font-size: 18px;
			}
			@media (min-width: $mediumWidth+1){
				font-size: 25px;
			}
			cursor: default;
		}
		#MkMlogo{
			@media (min-width: 160px) and (max-width: $smallWidth){
				@include widthHeightsize(auto, 14px);
			}
			@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
				@include widthHeightsize(auto, 28px);
			}
			@media (min-width: $mediumWidth+1){
				@include widthHeightsize(auto, 46px);
			}
		}
	}
	#MkM{
		input{
			display: none;
		}
		#burger{
			z-index: 99;
		@media (min-width: 160px) and (max-width: $smallWidth){
			@include widthHeightsize(20px, 20px);
		}
		@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
			@include widthHeightsize(33px, 33px);
		}
		@media (min-width: $mediumWidth+1){
			@include widthHeightsize(50px, 50px);
		}
			cursor: pointer;
			g{
				transition: 0.4s $animationFX;
				path{
					transition: 0.4s $animationFX;
					transform: translateY(0px);
				}
				circle{
					transition: 0.4s $animationFX;
				}
			}
			&:hover{
				g{
					stroke-width: 2;
					path:nth-child(1){
						d: path("M 25,35 L 75,35");
					}
					path:nth-child(2){
						d: path("M 50,50 L 50,50");
					}
					path:nth-child(3){
						d: path("M 25,65 L 75,65")
					}
					circle{
						r: 10;
					}
				}
			}
		}
		#itemContainer{
			z-index: 91;
			top: 0;
			right: 0;
			position: fixed;
			opacity: 0;
			@include widthHeightsize(100vw, 0vh);
			background-color: $primaryColor100;
			transition: 0.4s $animationFX;
			transition-delay: 0.2s;
			@include flex(column, center, center, wrap);
			#itemBox{
				@include flex(column, space-around, center, wrap);
				display: none;
				@include widthHeightsize(20vw, 100vh);
				transform: translateY(2vh);
				transition: 0.4s $animationFX;
				opacity: 0;
				.menuOpt{
					transform: translateY(2vh);
					z-index: 95;
					transition-delay: 0s;
					transition: 0.4s $animationFX;
					color: $clearColor50;
					letter-spacing: 0.5em;
					font-size: 20px;
					transition-delay: 0s;
					@include widthHeightsize(auto, auto);
					text-align: center;
					@media (min-width: 160px) and (max-width: $smallWidth){
						font-size: 11px;
						letter-spacing: 0.2em;
					}
					@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: portrait){
						font-size: 12px;
						letter-spacing: 0.3em;
					}
					@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
						font-size: 14px;
					}
					@media (min-width: $mediumWidth+1){
						font-size: 16px;
					}
					&:hover{
						letter-spacing: 1em;
						color: $clearColor100;
					}
				}
			}
		}
		[id="openMenu"]:checked{
			& ~ #itemContainer{
				opacity: 1;
				@include widthHeightsize(100vw, 100vh);
				transition-delay: 0s;
				transition: 0.4s $animationFX;
				#itemBox{
					display: flex;
					transition-delay: 0.4s;
					transform: translateY(0%);
					opacity: 1;
				}
			}
			& ~ #burger{
				g{
					stroke-width: 2;
					path:nth-child(1){
						d: path("M 65,65 L 35,35");
					}
					path:nth-child(2){
						d: path("M 50,50 L 50,50");
					}
					path:nth-child(3){
						d: path("M 65,35 L 35,65");
					}
					circle{
						r: 35;
					}
				}
			}
		}
	}
	header{
		z-index: -1;
		top: 0;
		@include widthHeightsize(100%, 100vh);
		@include flex(column, center, center, wrap);
		background-color: $primaryColor100;
		h2, h3{
			font-weight: 100;
			letter-spacing: calc(1vw);
			margin-bottom: 2em;
			text-transform: uppercase;
			text-align: center;
			@media (min-width: 160px) and (max-width: $smallWidth){
				font-size: 12px;
			}
			@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
				font-size: 15px;
			}
			@media (min-width: $mediumWidth+1){
				font-size: 20px;
			}
		}
		svg{
			cursor: pointer;
			@media (min-width: 160px) and (max-width: $smallWidth){
				@include widthHeightsize(30px, 30px);
			}
			@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
				@include widthHeightsize(40px, 40px);
			}
			@media (min-width: $mediumWidth+1){
				@include widthHeightsize(50px, 50px);
			}
			@keyframes moving{
				from{
					transform: translateY(0px);
				}
				to{
					transform: translateY(10px);
				}
			}
			g{
				stroke: $clearColor75;
				stroke-width: 2px;
				transition: 0.4s $animationFX;
				path{
					animation: moving 1s cubic-bezier(1, 0, 0.5, 1) infinite alternate;
				}
			}
			&:hover g{
				stroke: $thirdColor100;
			}
		}
	}
	main{
		@include widthHeightsize($width-12, 100vh);
		background-color: $clearColor75;
	}
	section{
		@include widthHeightsize($width-12, auto);
		.projectCard{
			box-shadow: 0px 0px 2px 2px $secondaryColor100;
			background-color: $secondaryColor100;
			@include flex(row, space-around, center, wrap);
			border-radius: 20px;
			overflow: hidden;
			@include widthHeightsize(calc(40%), calc(70%));
			@media (min-width: 160px) and (max-width: $mediumWidth) and (orientation: portrait){
				@include widthHeightsize(calc(100% - 20px), calc(45% - 20px));
			}
			span{
				font-size: 1.1em;
				font-weight: 600;
				@include flex(row, center, center, wrap);
				@include widthHeightsize(90%, 10%);
				text-align: center;
				@media (min-width: 160px) and (max-width: $mediumWidth){
					@include widthHeightsize(50%, 10%);
					font-size: 1.0em;
				}

			}
			img{
				@include widthHeightsize(auto, 10%);
				max-height: 10%;
			}
			p{
				@include widthHeightsize(90%, auto);
				align-self: center;
				b{
					font-weight: 600;
				}
				@media (min-width: 160px) and (max-width: $mediumWidth){
					font-size: 0.8em;
				}
			}
			.links{
				@include widthHeightsize(90%, 10%);
				@include flex(row, space-around, center, wrap);
				margin-bottom: 10px;
				a{
					@include widthHeightsize(33%, 20%);
					@include flex(row, center, center, wrap);
					border: 1px solid $clearColor50;
					color: $clearColor75;
					padding: 10px;
					border-radius: 20px;
					transition: 0.4s $animationFX;
					cursor: pointer;
					font-size: 0.8em;
					@media (min-width: 160px) and (max-width: $mediumWidth){
						@include widthHeightsize(40%, 100%);
						padding: 0;
					}
					&:hover{
						background-color: $clearColor75;
						color: $primaryColor75;
						box-shadow: 0px 0px 5px 2px $clearColor75;
					}
					&:active{
						box-shadow: 0px 0px 10px 3px $clearColor75;
						transition: 0.1s $animationFX;
					}

				}
			}
		}
	}
}