// base.scss
@import 'noDefaultStyle';
@import 'varsMixinExtends';
@font-face {
	font-family: "Cinzel";
	src: url(../Resources/Cinzel-Regular.ttf);
}
@font-face {
	font-family: "Julius";
	src: url(../Resources/JuliusSansOne-Regular.ttf);
}
@font-face {
	font-family: "Quattro";
	src: url(../Resources/Quattrocento-Regular.ttf);
}

body{
	background-color: $clearColor100;
	font-family: Quicksand;
	@media (min-width: 160px) and (max-width: $smallWidth){
		font-size: 10px;
	}
	@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
		font-size: 12px;
	}
	@media (min-width: $mediumWidth+1){
		font-size: 14px;
	}
	#banner{
		z-index: 99;
		background-color: $primaryColor100;
		top: 0;
		position: fixed;
		@include widthHeightsize(100%, 40px);

		@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: portrait){
			@include widthHeightsize($width-12, 50px);
		}
		
		transition: 0.7s $animationFX;
		color: $thirdColor75;
		@include flex(row, space-between, center, wrap);

		h1{
			@include flex(row, flex-start, center, wrap);
			font-family: Unlock;
			position: relative;
			text-align: center;
			left: 10px;
			font-weight: 100;
			letter-spacing: 0.3vw;
			@include widthHeightsize($width-8, 90%);
			@media (min-width: 160px) and (max-width: $smallWidth){
				font-size: 14px;
			}
			@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
				font-size: 16px;
			}
			@media (min-width: $mediumWidth+1){
				font-size: 18px;
			}
		}

		a{
			position: relative;
			@include flex(row, center, center, wrap);
			@media (min-width: 160px) and (max-width: $smallWidth){
				right: 2%;
				@include widthHeightsize(auto, 50%);
				letter-spacing: 0.2rem;
				font-size: 10px;
			}
			@media (min-width: $smallWidth+1){
				right: 7.5%;
				@include widthHeightsize(auto, 50%);
				font-size: 12px;
			}
			color: $clearColor75;
			letter-spacing: 0.3rem;
			padding: 0px 2%;
			text-transform: uppercase;
			border: 1px solid $clearColor50;
			border-radius: 5px;
			transition: 0.7s $animationFX;
			&:hover{
				color: $secondaryColor100;
				background-color: $orangeColor75;
				border-color: $secondaryColor100;
			}
		}
	}
	#headerBckgrnd{
		z-index: -1;
		background-image: url(../Resources/noOwnImg_TestImg2_edited.jpg);
		background-position: center;
		background-attachment: scroll;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		@include widthHeightsize($width-12, 100vh);
		@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: portrait){
			background-position: 80% 20%;
			background-size: cover;
		}
		@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: landscape){
		}
	}
	header{
		transition: 0.7s $animationFX;
		z-index: 0;
		@include widthHeightsize($width-12, 100vh);
		@include flex(column, center, center, wrap);
		color: $secondaryColor100;
		text-align: center;
		h2{
			font-size: 3.5em;
			text-shadow: 0px 0px 10px $clearColor100;
			font-family: Unlock;
			@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: landscape){
				font-size: 2em;
			}
		}
		p{
			font-size: 1.6em;
			@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: landscape){
				font-size: 1.6em;
			}
			text-shadow: 0px 0px 10px $clearColor100;
			font-weight: 900;
		}
		ul#anchorsBtns{
			@include flex(row, center, center, wrap);
			@media (min-width: 160px) and (max-width: $smallWidth){
				@include widthHeightsize(auto, auto);
			}
			@media (min-width: $smallWidth+1) and (min-width: $mediumWidth+1){
				@include widthHeightsize(100vw, auto);
			}
			& li{
				cursor: pointer;
				transition: 0.7s $animationFX;
				@include widthHeightsize(200px, 60px);
				@media (min-width: 160px) and (max-width: $mediumWidth){
					margin: 0px 20px 20px;
				}
				@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: landscape){
					@include widthHeightsize(150px, 40px);
					margin: 0px 20px;
				}
				@media (min-width: $mediumWidth+1){
					margin: 0px 20px;
				}
				border: 1px solid $orangeColor75;
				border-radius: 10px;
				& a{
					@include widthHeightsize(100%, 100%);
					@include flex(row, center, center, wrap);
					transition: 0.7s $animationFX;
					font-size: 0.8rem;
					letter-spacing: 0.3rem;
					text-transform: uppercase;
					@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: landscape){
						font-size: 13px;
					}
					color: $orangeColor100;
				}
				&:hover{
					background-color: $orangeColor75;
					border-color: $secondaryColor100;
				}
				&:hover a{
					color: $secondaryColor100;
				}
			}
		}
		& > *{
			transition: 0.7s $animationFX;
			margin-top: 5%;
			transform: translateY(60%);
			@media (min-width: 160px) and (max-width: $smallWidth){
				transform: translateY(0%);
			}
			@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
				transform: translateY(0%);
			}
			@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: portrait){
				margin-top: 10%;
				transform: translateY(0%);
			}
		}
	}
	main{
		z-index: 0;
		#srvAndRpr{
			@include widthHeightsize($width-12, calc( 100vh - 40px ));
			@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: portrait){
				@include widthHeightsize($width-12, calc( 100vh - 50px ));
			}
		}
	}
}
@media (min-width: 160px) and (max-width: $smallWidth){
}
@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
}
@media (min-width: $mediumWidth+1){
}