// base.scss
@import 'noDefaultStyle';
@import 'varsMixinExtends';
@font-face {
	font-family: "Cinzel";
	src: url(../Resources/Cinzel-Regular.ttf);
}
@font-face {
	font-family: "Julius";
	src: url(../Resources/JuliusSansOne-Regular.ttf);
}
@font-face {
	font-family: "Quattro";
	src: url(../Resources/Quattrocento-Regular.ttf);
}

body{
	background-color: $clearColor100;
	font-family: Quicksand;
	@media (min-width: 160px) and (max-width: $smallWidth){
		font-size: 10px;
	}
	@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
		font-size: 12px;
	}
	@media (min-width: $mediumWidth+1){
		font-size: 14px;
	}
	#banner{
		z-index: 99;
		background-color: $primaryColor100;
		top: 0;
		position: fixed;
		transition: 0.7s $animationFX;
		color: $thirdColor75;
		@include flex(row, space-between, center, wrap);
		@include widthHeightsize($width-12, auto);
		h1{
			@include flex(row, flex-start, center, wrap);
			font-family: Unlock;
			position: relative;
			left: 10px;
			font-weight: 100;
			letter-spacing: 0.3vw;
			@include widthHeightsize($width-7, 90%);
			font-size: 1rem;
		}

		a{
			position: relative;
			@include flex(row, center, center, wrap);
			@media (min-width: 160px) and (max-width: $smallWidth){
				right: 2%;
				@include widthHeightsize(auto, 20px);
				letter-spacing: 0.2rem;
			}
			@media (min-width: $smallWidth+1){
				right: 7.5%;
				@include widthHeightsize(auto, 25px);
			}
			font-size: 9px;
			color: $clearColor75;
			letter-spacing: 0.3rem;
			padding: 0px 2%;
			text-transform: uppercase;
			border: 1px solid $clearColor50;
			border-radius: 5px;
			transition: 0.7s $animationFX;
			&:hover{
				color: $secondaryColor100;
				background-color: $orangeColor75;
				border-color: $secondaryColor100;
			}
		}
		&.topFixed{		
			height: 40px;
			@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: portrait){
				height: 50px;
			}
			opacity: 1;
		}
		&.topExpanded{		
			height: 50vh;
			opacity: 0;
		}
	}

	#headerBckgrnd{
		z-index: -1;
		background-image: url("../Resources/WhatsApp Image 2019-04-11 at 16.40.33.jpeg");
		background-repeat: no-repeat;
		position: absolute;
		background-size: cover;
		@include widthHeightsize($width-12, 100vh);
		background-position: 100% 50%;
		@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: portrait){
			background-attachment: fixed;
		}
	}
	header{
		transition: 0.7s $animationFX;
		z-index: 0;
		@include widthHeightsize($width-12, 100vh);
		@include flex(column, center, center, wrap);
		color: $secondaryColor100;
		text-align: center;
		box-shadow: 0px 2px 10px 2px rgba(30, 30, 30, 0.4);
		h2{
			font-size: 3.5em;
			text-shadow: 0px 0px 10px $clearColor100;
			font-family: Unlock;
			@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: landscape){
				font-size: 2em;
			}
		}
		p{
			font-size: 1.6em;
			@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: landscape){
				font-size: 1.6em;
			}
			color: $clearColor100;
			font-weight: 900;
		}
		ul#anchorsBtns{
			@include flex(row, center, center, wrap);
			@media (min-width: 160px) and (max-width: $smallWidth){
				@include widthHeightsize(auto, auto);
			}
			@media (min-width: $smallWidth+1) and (min-width: $mediumWidth+1){
				@include widthHeightsize(90vw, auto);
			}
			& li{
				cursor: pointer;
				transition: 0.7s $animationFX;
				@include widthHeightsize(200px, 60px);
				@media (min-width: 160px) and (max-width: $mediumWidth){
					margin: 0px 20px 20px;
				}
				@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: landscape){
					@include widthHeightsize(150px, 40px);
					margin: 0px 20px;
				}
				@media (min-width: $mediumWidth+1){
					margin: 0px 20px;
				}
				border: 1px solid $clearColor100;
				border-radius: 10px;
				& a{
					@include widthHeightsize(100%, 100%);
					@include flex(row, center, center, wrap);
					transition: 0.7s $animationFX;
					font-size: 0.8rem;
					letter-spacing: 0.3rem;
					text-transform: uppercase;
					@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: landscape){
						font-size: 13px;
					}
					color: $clearColor100;
				}
				&:hover{
					background-color: $clearColor75;
					border-color: $orangeColor75;
				}
				&:hover a{
					color: $orangeColor100;
				}
			}
		}
		& > *{
			transition: 0.7s $animationFX;
			margin-top: 5%;
			transform: translateY(60%);
			@media (min-width: 160px) and (max-width: $smallWidth){
				transform: translateY(0%);
			}
			@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
				transform: translateY(0%);
			}
			@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: portrait){
				margin-top: 10%;
				transform: translateY(0%);
			}
		}
	}
	main{
		background-color: $clearColor100;
		z-index: 0;
		#srvAndRpr{
			transform: translateY(40px);
			@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: portrait){
				transform: translateY(50px);
			}
			.catalogList{
				@include widthHeightsize($width-12, calc( 100vh - 40px ));
				@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: portrait){
					@include widthHeightsize($width-12, calc( 100vh - 50px ));
					transform: translateY(50px);
				}
				h4{
					@include flex(column, center, center, wrap);
					@include widthHeightsize($width-12, auto);
				}
				ul{					
					@include widthHeightsize($width-12, auto);
					@include flex(row, space-between, center, wrap);
					li{
						@include flex(column, center, center, wrap);
						padding: 2em;
						text-align: center;
						border: 1px solid $secondaryColor75
					}
				}
			}
		}
		#contact{
			transform: translateY(40px);
			@include widthHeightsize($width-12, calc( 100vh - 40px ));
			@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: portrait){
				transform: translateY(50px);
				@include widthHeightsize($width-12, calc( 100vh - 50px ));
			}
		}
	}
	#gallery{
		transform: translateY(40px);
		@include widthHeightsize($width-12, calc( 100vh - 40px ));
		@media (min-width: 160px) and (max-width: $smallWidth) and (orientation: portrait){
			@include widthHeightsize($width-12, calc( 100vh - 50px ));
			transform: translateY(50px);
		}
	}
	.mmeiTitle{
		@include widthHeightsize($width-12, 0px);
		border-top: 1px solid $secondaryColor75;
		margin: 4.5% 0px;
		@include flex(row, center, center, wrap);		
		h3{
			padding: 5px 20px;
			transform: skew(-25deg);
			background-color: $primaryColor100;
			color: $clearColor75;
			@include flex(row, center, center, wrap);
			@include widthHeightsize(auto, auto);
			position: absolute;
			span{
				letter-spacing: 0.3vw;
				transform: skew(25deg);
				text-transform: uppercase;
				font-weight: 100;
				text-align: center;
			}
		}
	}
}
@media (min-width: 160px) and (max-width: $smallWidth){
}
@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
}
@media (min-width: $mediumWidth+1){
}