/* line 2, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/_noDefaultStyle.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/_noDefaultStyle.scss */
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* line 11, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/_noDefaultStyle.scss */
ul, ol {
  list-style: none;
}

/* line 14, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/_noDefaultStyle.scss */
*:hover {
  outline: none;
}

/*
width of element:
	12 cols - 100%
	11 cols - 091,666666666%
	10 cols - 083,333333333%
	09 cols - 075%
	08 cols - 066,666666666%
	07 cols - 058,333333333%
	06 cols - 050%
	05 cols - 041,666666666%
	04 cols - 033,333333333%
	03 cols - 025%
	02 cols - 016,666666666%
	01 cols - 008,333333333%
	00 cols - 000%
*/
/*Mixins*/
@font-face {
  font-family: "Cinzel";
  src: url(../Resources/Cinzel-Regular.ttf);
}

@font-face {
  font-family: "Julius";
  src: url(../Resources/JuliusSansOne-Regular.ttf);
}

@font-face {
  font-family: "Quattro";
  src: url(../Resources/Quattrocento-Regular.ttf);
}

/* line 17, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body {
  background-color: #c8d2d9;
  font-family: Quicksand;
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 17, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body {
    font-size: 10px;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  /* line 17, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body {
    font-size: 12px;
  }
}

@media (min-width: 1008px) {
  /* line 17, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body {
    font-size: 14px;
  }
}

/* line 29, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body #banner {
  z-index: 99;
  background-color: #082b4c;
  top: 0;
  position: fixed;
  height: 40px;
  width: 100%;
  transition: 0.7s cubic-bezier(0, 0, 0.27, 0.97);
  color: rgba(251, 201, 100, 0.75);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: portrait) {
  /* line 29, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body #banner {
    height: 50px;
    width: 100%;
  }
}

/* line 44, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body #banner h1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-family: Unlock;
  position: relative;
  text-align: center;
  left: 10px;
  font-weight: 100;
  letter-spacing: 0.3vw;
  height: 90%;
  width: 66.66667%;
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 44, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body #banner h1 {
    font-size: 14px;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  /* line 44, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body #banner h1 {
    font-size: 16px;
  }
}

@media (min-width: 1008px) {
  /* line 44, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body #banner h1 {
    font-size: 18px;
  }
}

/* line 64, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body #banner a {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: rgba(200, 210, 217, 0.75);
  letter-spacing: 0.3rem;
  padding: 0px 2%;
  text-transform: uppercase;
  border: 1px solid rgba(200, 210, 217, 0.5);
  border-radius: 5px;
  transition: 0.7s cubic-bezier(0, 0, 0.27, 0.97);
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 64, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body #banner a {
    right: 2%;
    height: 50%;
    width: auto;
    letter-spacing: 0.2rem;
    font-size: 10px;
  }
}

@media (min-width: 641px) {
  /* line 64, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body #banner a {
    right: 7.5%;
    height: 50%;
    width: auto;
    font-size: 12px;
  }
}

/* line 85, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body #banner a:hover {
  color: #131c29;
  background-color: rgba(219, 79, 50, 0.75);
  border-color: #131c29;
}

/* line 92, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body #headerBckgrnd {
  z-index: -1;
  background-image: url(../Resources/noOwnImg_TestImg2_edited.jpg);
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 100vh;
  width: 100%;
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: portrait) {
  /* line 92, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body #headerBckgrnd {
    background-position: 80% 20%;
    background-size: cover;
  }
}

/* line 108, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body header {
  transition: 0.7s cubic-bezier(0, 0, 0.27, 0.97);
  z-index: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #131c29;
  text-align: center;
}

/* line 115, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body header h2 {
  font-size: 3.5em;
  text-shadow: 0px 0px 10px #c8d2d9;
  font-family: Unlock;
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: landscape) {
  /* line 115, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body header h2 {
    font-size: 2em;
  }
}

/* line 123, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body header p {
  font-size: 1.6em;
  text-shadow: 0px 0px 10px #c8d2d9;
  font-weight: 900;
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: landscape) {
  /* line 123, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body header p {
    font-size: 1.6em;
  }
}

/* line 131, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body header ul#anchorsBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 131, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body header ul#anchorsBtns {
    height: auto;
    width: auto;
  }
}

@media (min-width: 641px) and (min-width: 1008px) {
  /* line 131, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body header ul#anchorsBtns {
    height: auto;
    width: 100vw;
  }
}

/* line 139, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body header ul#anchorsBtns li {
  cursor: pointer;
  transition: 0.7s cubic-bezier(0, 0, 0.27, 0.97);
  height: 60px;
  width: 200px;
  border: 1px solid rgba(219, 79, 50, 0.75);
  border-radius: 10px;
}

@media (min-width: 160px) and (max-width: 1007px) {
  /* line 139, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body header ul#anchorsBtns li {
    margin: 0px 20px 20px;
  }
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: landscape) {
  /* line 139, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body header ul#anchorsBtns li {
    height: 40px;
    width: 150px;
    margin: 0px 20px;
  }
}

@media (min-width: 1008px) {
  /* line 139, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body header ul#anchorsBtns li {
    margin: 0px 20px;
  }
}

/* line 155, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body header ul#anchorsBtns li a {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.7s cubic-bezier(0, 0, 0.27, 0.97);
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #db4f32;
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: landscape) {
  /* line 155, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body header ul#anchorsBtns li a {
    font-size: 13px;
  }
}

/* line 167, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body header ul#anchorsBtns li:hover {
  background-color: rgba(219, 79, 50, 0.75);
  border-color: #131c29;
}

/* line 171, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body header ul#anchorsBtns li:hover a {
  color: #131c29;
}

/* line 176, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body header > * {
  transition: 0.7s cubic-bezier(0, 0, 0.27, 0.97);
  margin-top: 5%;
  transform: translateY(60%);
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 176, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body header > * {
    transform: translateY(0%);
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  /* line 176, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body header > * {
    transform: translateY(0%);
  }
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: portrait) {
  /* line 176, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body header > * {
    margin-top: 10%;
    transform: translateY(0%);
  }
}

/* line 192, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body main {
  z-index: 0;
}

/* line 194, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
body main #srvAndRpr {
  height: calc( 100vh - 40px);
  width: 100%;
}

@media (min-width: 160px) and (max-width: 640px) and (orientation: portrait) {
  /* line 194, C:/Users/mmedina/Documents/Programming/Training/MarkMed.github.io/mmei/SCSS/style.scss */
  body main #srvAndRpr {
    height: calc( 100vh - 50px);
    width: 100%;
  }
}

/*# sourceMappingURL=../CSS/style.map */