* {
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

*:focus {
  outline: none;
  color: black;
  text-decoration: none;
}

input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

/*
width of element:
	12 cols - 100%
	11 cols - 091,666666666%
	10 cols - 083,333333333%
	09 cols - 075%
	08 cols - 066,666666666%
	07 cols - 058,333333333%
	06 cols - 050%
	05 cols - 041,666666666%
	04 cols - 033,333333333%
	03 cols - 025%
	02 cols - 016,666666666%
	01 cols - 008,333333333%
	00 cols - 000%
*/
/*Mixins*/
@font-face {
  font-family: "RalewayLight";
  src: url(../../Resources/Raleway-Light_0.ttf);
}

@font-face {
  font-family: "RalewayELight";
  src: url(../../Resources/Raleway-ExtraLight.ttf);
}

@font-face {
  font-family: "RalewayThin";
  src: url(../../Resources/Raleway-Thin.ttf);
}

@font-face {
  font-family: "DetalThin";
  src: url(../../Resources/Datalegreya-Thin.otf);
}

@font-face {
  font-family: "BraGroLight";
  src: url(../../Resources/brandon-grotesque-light.woff);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.lineSeparator {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5) inset;
}

body {
  scroll-behavior: smooth;
  color: rgba(255, 254, 219, 0.75);
  font-family: "RalewayLight";
  background-color: #1e3641;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#1e3641), to(#1e3636));
  background-image: linear-gradient(to right bottom, #1e3641, #1e3636);
  height: auto;
  width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}

body header {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body header h1 {
  height: auto;
  width: 100%;
  font-family: "RalewayELight";
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

body header section {
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0);
}

body header section * {
  height: auto;
  width: 100%;
  text-align: center;
}

body header section h4 {
  font-size: 25px;
  font-weight: 100;
}

body header section p {
  font-size: 15px;
}

body header section svg {
  margin-top: 20px;
  cursor: pointer;
}

@media (min-width: 160px) and (max-width: 640px) {
  body header section svg {
    height: 30px;
    width: 30px;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  body header section svg {
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 1008px) {
  body header section svg {
    height: 50px;
    width: 50px;
  }
}

@-webkit-keyframes moving {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes moving {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

body header section svg g {
  stroke: rgba(255, 254, 219, 0.75);
  stroke-width: 2px;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.27, 0.97);
  transition: 0.4s cubic-bezier(0, 0, 0.27, 0.97);
}

body header section svg g path {
  -webkit-animation: moving 1s cubic-bezier(1, 0, 0.5, 1) infinite alternate;
          animation: moving 1s cubic-bezier(1, 0, 0.5, 1) infinite alternate;
}

body header section svg:hover g {
  stroke: #ffc33c;
}

body .lineSeparator {
  height: 2px;
  width: 50vw;
  margin: 20px 25vw;
}

body section .sectionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body section .sectionTitle h2 {
  -webkit-transition: 0.5s cubic-bezier(0, 0, 0.27, 0.97);
  transition: 0.5s cubic-bezier(0, 0, 0.27, 0.97);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

body section .sectionTitle h2.show {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

body section .sectionTitle h2.hidden {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
}

body section#touchEventsTests {
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(255, 254, 219, 0.75);
}

body section#touchEventsTests .sectionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body section#touchEventsTests .sectionTitle h2 {
  margin: 20px 0px 10px;
  color: rgba(30, 54, 65, 0.5);
  font-size: 28px;
}

body section#touchEventsTests .sectionTitle .lineSeparator {
  height: 2px;
  width: 50%;
  margin: 10px 5px;
}

body section#touchEventsTests .caseSection {
  background-color: #1e364b;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#132b40), to(#1e364b));
  background-image: linear-gradient(to top, #132b40, #1e364b);
  border-radius: 20px;
  -webkit-box-shadow: 3px 6px 9px 0px rgba(30, 54, 75, 0.5);
          box-shadow: 3px 6px 9px 0px rgba(30, 54, 75, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 160px) and (max-width: 640px) {
  body section#touchEventsTests .caseSection {
    height: 80vh;
    width: 83.33333%;
    margin: 5vh 0;
  }
}

body section#touchEventsTests .caseSection h3 {
  margin: 5% 30% 10% 5%;
  font-size: 23px;
}

body section#touchEventsTests .caseSection p {
  margin: 5% 30% 10% 5%;
}

body section#touchEventsTests .caseSection .eventTriggerArea {
  height: 50%;
  width: 83.33333%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: rgba(255, 254, 219, 0.75);
  font-size: 20px;
  font-family: BraGroLight;
  background-color: #1e3641;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#1e3641), to(#1e3636));
  background-image: linear-gradient(to right bottom, #1e3641, #1e3636);
  -webkit-box-shadow: 0px 0px 9px 0px rgba(255, 254, 219, 0.25);
          box-shadow: 0px 0px 9px 0px rgba(255, 254, 219, 0.25);
  letter-spacing: 0.2em;
  text-align: center;
}

body section#swipeEvents {
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body section#swipeEvents .sectionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body section#swipeEvents .sectionTitle h2 {
  margin: 20px 0px 10px;
  color: rgba(255, 254, 219, 0.5);
  font-size: 28px;
}

body section#swipeEvents .sectionTitle .lineSeparator {
  height: 2px;
  width: 50%;
  margin: 10px 5px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(255, 254, 219, 0.5) inset;
          box-shadow: 0px 0px 2px 0px rgba(255, 254, 219, 0.5) inset;
}

body section#swipeEvents .sectionDescription {
  color: rgba(30, 54, 65, 0.75);
  border-radius: 20px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(255, 254, 219, 0.75)), to(rgba(239, 238, 202, 0.75)));
  background-image: linear-gradient(to top left, rgba(255, 254, 219, 0.75), rgba(239, 238, 202, 0.75));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 160px) and (max-width: 640px) {
  body section#swipeEvents .sectionDescription {
    height: auto;
    width: 83.33333%;
    margin: 5vh 0;
  }
}

body section#swipeEvents .sectionDescription h4 {
  margin: 5% 30% 10% 5%;
  font-size: 23px;
}

body section#swipeEvents .sectionDescription p {
  margin: 0% 20% 5% 10%;
}

body section#swipeEvents .caseSection {
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(255, 254, 219, 0.75)), to(rgba(239, 238, 202, 0.75)));
  background-image: linear-gradient(to top left, rgba(255, 254, 219, 0.75), rgba(239, 238, 202, 0.75));
  color: rgba(30, 54, 65, 0.75);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 160px) and (max-width: 640px) {
  body section#swipeEvents .caseSection {
    height: 80vh;
    width: 83.33333%;
    margin: 5vh 0;
  }
}

body section#swipeEvents .caseSection h3 {
  margin: 5% 30% 10% 5%;
  font-size: 23px;
}

body section#swipeEvents .caseSection p {
  margin: 5% 30% 10% 5%;
}

body section#swipeEvents .caseSection .eventTriggerArea {
  height: 50%;
  width: 83.33333%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: rgba(255, 254, 219, 0.75);
  font-size: 20px;
  font-family: BraGroLight;
  background-color: #1e364b;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#132b40), to(#1e364b));
  background-image: linear-gradient(to right bottom, #132b40, #1e364b);
  -webkit-box-shadow: 0px 0px 9px 0px rgba(30, 54, 75, 0.75);
          box-shadow: 0px 0px 9px 0px rgba(30, 54, 75, 0.75);
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0 8.33333%;
}

body footer {
  height: 500px;
  width: 100vw;
}
/*# sourceMappingURL=style.css.map */