/* line 2, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/_noDefaultStyle.scss */
* {
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 100;
  background: none;
  border: none;
}

/* line 10, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/_noDefaultStyle.scss */
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* line 15, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/_noDefaultStyle.scss */
ul, ol {
  list-style: none;
}

/* line 18, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/_noDefaultStyle.scss */
*:focus {
  outline: none;
  color: black;
  text-decoration: none;
}

/* line 24, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/_noDefaultStyle.scss */
input {
  background-color: transparent;
  border: none;
}

/*
width of element:
	12 cols - 100%
	11 cols - 091,666666666%
	10 cols - 083,333333333%
	09 cols - 075%
	08 cols - 066,666666666%
	07 cols - 058,333333333%
	06 cols - 050%
	05 cols - 041,666666666%
	04 cols - 033,333333333%
	03 cols - 025%
	02 cols - 016,666666666%
	01 cols - 008,333333333%
	00 cols - 000%
*/
/*Mixins*/
@font-face {
  font-family: "RalewayLight";
  src: url(../../Resources/Raleway-Light_0.ttf);
}

@font-face {
  font-family: "RalewayELight";
  src: url(../../Resources/Raleway-ExtraLight.ttf);
}

@font-face {
  font-family: "RalewayThin";
  src: url(../../Resources/Raleway-Thin.ttf);
}

@font-face {
  font-family: "DetalThin";
  src: url(../../Resources/Datalegreya-Thin.otf);
}

@font-face {
  font-family: "BraGroLight";
  src: url(../../Resources/brandon-grotesque-light.woff);
}

/* line 4, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* line 8, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
.show {
  transform: translateY(0px);
  opacity: 1;
}

/* line 12, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
.hidden {
  transform: translateY(-20px);
  opacity: 0;
}

/* line 16, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body {
  color: rgba(240, 240, 223, 0.75);
  font-family: "RalewayLight";
  background-color: #012a39;
  background-image: linear-gradient(to right bottom, #012a39, #1e3636);
  height: auto;
  width: 100vw;
}

/* line 23, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body .card {
  height: 300px;
  width: 300px;
  background-color: #f0f0df;
  color: rgba(1, 42, 57, 0.75);
  border-radius: 20px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* line 29, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body .card.dragging {
  opacity: 0.6;
  border: 2px solid rgba(33, 160, 200, 0.5);
  border-radius: 10px;
}

/* line 34, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body .card.dragged {
  width: 0px;
  opacity: 0;
  margin: 0px;
}

/* line 40, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body .card .cardImg {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* line 43, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body .card .cardImg img {
  height: 90%;
  width: auto;
  margin: auto 5%;
  border-radius: 50%;
}

/* line 49, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body .card .cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 40%;
  width: 100%;
}

/* line 52, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body .card .cardInfo span {
  font-size: 20px;
}

/* line 55, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body .card .cardInfo p {
  font-size: 0.3 em;
  margin: 0;
  height: auto;
  width: 100%;
}

/* line 61, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body .card .actionSection {
  height: 20%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* line 64, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body .card .actionSection button {
  height: 50%;
  width: auto;
  color: rgba(240, 240, 223, 0.75);
  background-color: rgba(27, 46, 64, 0.5);
  border-radius: 20px;
  padding: 0 5px;
}

@media (min-width: 160px) and (max-width: 1007px) {
  /* line 23, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
  body .card {
    height: 100px;
    width: auto;
    margin: 0px;
    margin-bottom: 8px;
  }
  /* line 77, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
  body .card .cardImg {
    height: 100%;
    width: 30%;
  }
  /* line 79, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
  body .card .cardImg img {
    height: auto;
    width: 90%;
  }
  /* line 83, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
  body .card .cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
    width: 65%;
  }
  /* line 86, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
  body .card .cardInfo span {
    font-size: 17px;
  }
  /* line 89, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
  body .card .cardInfo p {
    display: none;
  }
  /* line 93, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
  body .card .actionSection {
    height: 50%;
    width: 65%;
  }
  /* line 95, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
  body .card .actionSection button {
    font-size: 12px;
  }
}

@media (min-width: 160px) and (max-width: 1007px) and (orientation: portrait) {
  /* line 23, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
  body .card {
    height: 100px;
    width: auto;
    margin: 0px;
    margin-bottom: 8px;
  }
}

/* line 107, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body::-webkit-scrollbar {
  display: none;
}

/* line 111, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body header {
  position: relative;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* line 116, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body header h1 {
  height: auto;
  width: calc(100% - 20px);
  font-family: "RalewayELight";
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 20px;
}

/* line 124, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body header section {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: transparent;
}

/* line 128, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body header section * {
  height: auto;
  width: 100%;
  text-align: center;
}

/* line 132, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body header section h4 {
  font-size: 25px;
  font-weight: 100;
}

/* line 136, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body header section p {
  font-size: 15px;
}

/* line 139, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body header section svg {
  margin-top: 20px;
  cursor: pointer;
}

@media (min-width: 160px) and (max-width: 640px) {
  /* line 139, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
  body header section svg {
    height: 30px;
    width: 30px;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  /* line 139, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
  body header section svg {
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 1008px) {
  /* line 139, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
  body header section svg {
    height: 50px;
    width: 50px;
  }
}

@keyframes moving {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}

/* line 159, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body header section svg g {
  stroke: rgba(240, 240, 223, 0.75);
  stroke-width: 2px;
  transition: 0.4s cubic-bezier(0, 0, 0.27, 0.97);
}

/* line 163, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body header section svg g path {
  animation: moving 1s cubic-bezier(1, 0, 0.5, 1) infinite alternate;
}

/* line 167, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body header section svg:hover g {
  stroke: #ffc33c;
}

/* line 173, C:/Users/mmedina/Documents/GitHub/MarkMed.github.io/DnDWithLibraries/SCSS/style.scss */
body .lineSeparator {
  height: 2px;
  width: 50vw;
  margin: 20px 25vw;
  border-bottom: 2px solid rgba(240, 240, 223, 0.25);
  transition: 0.3s cubic-bezier(0, 0, 0.27, 0.97);
}

/*# sourceMappingURL=../CSS/style.map */